# DESCRIPCIÓN DEL DATASET Y ORIGEN

### Acceso al dataset que se utilizará en el proyecto de Aprendizaje Automático
### Descripción completa del dataset, incluyendo la cantidad de instancias, características (columnas), tipos de datos, y cualquier información relevante.

In [2]:
# Importo las librerías necesarias
import pandas as pd
import numpy as np

# Cargo el dataset dataset_jcyd_ok.
dat_excel  = pd.read_excel('C:/Users/Usuario/OneDrive/Documentos/BASE_DE_DATOS_E_INTELIGENCIA_ARTIFICIAL/2024/2Cuatrimestre/APRENDIZAJE AUTOMATICO/PARCIAL/3-Entrega 2 Descripción del Dataset y Origen/SET-APRENDIZAJE AUTOMATICO/dataset_jcyd_ok.xlsx') 
dat_excel.head()

,idespacio,idtitulo,idtitulo_real,idcasaestudio,caracter,idNivel_espacio,desc_espacio,tipo_espacio,ciudad_espacio,resolucion_espacio,titulo,resolucion,nombre,facultad,provincia,ciudad
0,611,0046200276,462,00276,D,1.0,A.T.T.P. Inglés,Cargo,101.0,1354/17,PROFESORA DE INGLÉS,757-ME-09,INSTITUTO DE EDUCACIÓN SUPERIOR N° 10,NaN,JUJUY,LIBERTADOR GENERAL SAN MARTIN
1,708,0046200276,462,00276,D,2.0,Lengua Extranjera: Inglés,Espacio,111.0,1354/17,PROFESORA DE INGLÉS,757-ME-09,INSTITUTO DE EDUCACIÓN SUPERIOR N° 10,NaN,JUJUY,LIBERTADOR GENERAL SAN MARTIN
2,808,0046200276,462,00276,D,3.0,Lengua Extranjera: Inglés,Espacio,111.0,1354/17,PROFESORA DE INGLÉS,757-ME-09,INSTITUTO DE EDUCACIÓN SUPERIOR N° 10,NaN,JUJUY,LIBERTADOR GENERAL SAN MARTIN
3,2012,0046200276,462,00276,D,4.0,Lenguas Extranjeras: Inglés,Espacio,111.0,1354/17,PROFESORA DE INGLÉS,757-ME-09,INSTITUTO DE EDUCACIÓN SUPERIOR N° 10,NaN,JUJUY,LIBERTADOR GENERAL SAN MARTIN
4,2046,0046200276,462,00276,D,5.0,Estudios Interculturales en Lengua I y II (Ing...,Espacio,111.0,1354/17,PROFESORA DE INGLÉS,757-ME-09,INSTITUTO DE EDUCACIÓN SUPERIOR N° 10,NaN,JUJUY,LIBERTADOR GENERAL SAN MARTIN

In [5]:
print("\nInformación general:")
print(dat_excel.info())

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52936 entries, 0 to 52935
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   idespacio           52936 non-null  int64
 1   idtitulo            52936 non-null  object
 2   idtitulo_real       52936 non-null  int64
 3   idcasaestudio       52936 non-null  object
 4   caracter            52936 non-null  object
 5   idNivel_espacio     52935 non-null  float64
 6   desc_espacio        52935 non-null  object
 7   tipo_espacio        52935 non-null  object
 8   ciudad_espacio      52935 non-null  float64
 9   resolucion_espacio  52935 non-null  object
 10  titulo              52811 non-null  object
 11  resolucion          50811 non-null  object
 12  nombre              52695 non-null  object
 13  facultad            14125 non-null  object
 14  provincia           50367 non-null  object
 15  ciudad              42042 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 6.5+ MB
None

In [4]:
# Para obtener filas y columnas
num_filas, num_columnas = dat_excel.shape

print("El dataset tiene", num_filas, "filas y", num_columnas, "columnas.")

El dataset tiene 52936 filas y 16 columnas.

In [6]:
print("\nTipos de datos:")
print(dat_excel.dtypes)

Tipos de datos:
idespacio               int64
idtitulo               object
idtitulo_real           int64
idcasaestudio          object
caracter               object
idNivel_espacio       float64
desc_espacio           object
tipo_espacio           object
ciudad_espacio        float64
resolucion_espacio     object
titulo                 object
resolucion             object
nombre                 object
facultad               object
provincia              object
ciudad                 object
dtype: object

In [7]:
print("Nombres de las columnas:")
print(dat_excel.columns)

Nombres de las columnas:
Index(['idespacio', 'idtitulo', 'idtitulo_real', 'idcasaestudio', 'caracter',
       'idNivel_espacio', 'desc_espacio', 'tipo_espacio', 'ciudad_espacio',
       'resolucion_espacio', 'titulo', 'resolucion', 'nombre', 'facultad',
       'provincia', 'ciudad'],
      dtype='object')

In [8]:
print("\nEstadísticas descriptivas:")
print(dat_excel.describe())

Estadísticas descriptivas:
          idespacio  idtitulo_real  idNivel_espacio  ciudad_espacio
count  52936.000000   52936.000000     52935.000000    52935.000000
mean     961.109755    1861.949581         5.042864       91.536772
std      647.433088    1122.017164         3.154639       37.945680
min      100.000000       0.000000         1.000000        1.000000
25%      615.000000     905.000000         2.000000      101.000000
50%      714.000000    1719.000000         5.000000      111.000000
75%     1149.000000    2775.000000         7.000000      111.000000
max    20525.000000    4123.000000        11.000000      111.000000

In [9]:
print("\nEstadísticas descriptivas de las columnas numéricas:")
print(dat_excel.describe(include=[np.number]))

Estadísticas descriptivas de las columnas numéricas:
          idespacio  idtitulo_real  idNivel_espacio  ciudad_espacio
count  52936.000000   52936.000000     52935.000000    52935.000000
mean     961.109755    1861.949581         5.042864       91.536772
std      647.433088    1122.017164         3.154639       37.945680
min      100.000000       0.000000         1.000000        1.000000
25%      615.000000     905.000000         2.000000      101.000000
50%      714.000000    1719.000000         5.000000      111.000000
75%     1149.000000    2775.000000         7.000000      111.000000
max    20525.000000    4123.000000        11.000000      111.000000

In [10]:
print("\nEstadísticas descriptivas de las columnas categóricas:")
print(dat_excel.describe(include=['object']))

Estadísticas descriptivas de las columnas categóricas:
          idtitulo idcasaestudio caracter desc_espacio tipo_espacio  \
count        52936         52936    52936        52935        52935
unique        5001          2459        3          468            3
top     0297500465         01817        H  Preceptor/a      Espacio
freq            72          1695    20355         4648        41198

       resolucion_espacio                          titulo resolucion  \
count               52935                           52811      50811
unique                  5                            2375       1983
top               1354/17  PROFESOR/A DE EDUCACIÓN FÍSICA        S/R
freq                51058                            2153       6484

                                                   nombre  \
count                                               52695
unique                                               2167
top     INSTITUTO PROVINCIAL DE EDUCACIÓN SUPERIOR \"P...
freq                                                 1695

                                           facultad     provincia      ciudad
count                                         14125         50367       42042
unique                                          286           121         542
top     FACULTAD DE HUMANIDADES Y CIENCIAS SOCIALES  BUENOS AIRES  RIO GRANDE
freq                                            853         10912        3961

In [11]:
print("\nValores únicos en cada columna:")
for columna in dat_excel.columns:
    print(f"Columna '{columna}': {dat_excel[columna].nunique()} valores únicos")

Valores únicos en cada columna:
Columna 'idespacio': 522 valores únicos
Columna 'idtitulo': 5001 valores únicos
Columna 'idtitulo_real': 3313 valores únicos
Columna 'idcasaestudio': 2459 valores únicos
Columna 'caracter': 3 valores únicos
Columna 'idNivel_espacio': 11 valores únicos
Columna 'desc_espacio': 468 valores únicos
Columna 'tipo_espacio': 3 valores únicos
Columna 'ciudad_espacio': 5 valores únicos
Columna 'resolucion_espacio': 5 valores únicos
Columna 'titulo': 2375 valores únicos
Columna 'resolucion': 1983 valores únicos
Columna 'nombre': 2167 valores únicos
Columna 'facultad': 286 valores únicos
Columna 'provincia': 121 valores únicos
Columna 'ciudad': 542 valores únicos

In [16]:
print("\nValores únicos en la columna 'T':")
print(dat_excel['tipo_espacio'].unique())

Valores únicos en la columna 'Tipo_espacio':
['Cargo' 'Espacio' 'Directivo' nan]